.search_here{
    background-color: var(--light);
    margin-left: 4em;
    width: 75%;
    float: left;
    height: 2.5em;
    margin-top: 1.2em;
    border: 1px solid var(--green);
    /* border-radius: 13px 0 0 13px; */
    /* padding: 0 .5em; */
}

.search_here:focus {
    outline: none;    
}

.submit {
    margin-top: 1.05em;
    background-color: var(--green);
    color: var(--blue);
    padding: 6.5px 16px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 0.5s;
}

.submit:hover {
    background-color: var(--bluegreen);
    transition: ease-in-out;
    transition-duration: 0.5s;
    text-decoration: none;
    color: var(--light);
}