.nav{
  padding-bottom: 1em;
  border: 1px solid;
 

}
.nav:hover{
    box-shadow: 0px 1px rgb(97, 94, 94);
}
.item{
    display: inline-block;
    margin-left: 30px;
    padding-left: 100px;
    margin-top: 10px;
}

.item a {
    text-decoration: none;
    font-size: large;
}
.item img {
    height: 50px;
    width: 50px;
}

.item a :hover {
   color:white;
   background-color: rgb(14, 70, 143);
   border-radius: 5px;

}