.navtabs{
    color:red;
}

.tabLabel{
    font-size: 12px;
    color:#05386B;
    
}

.tabpanel{
    text-align: left;
    font-size: large;
    color: #379683;
    font-family: 'Metropolis-Regular';
}

